.u-fw-n {
  font-weight: normal !important;
}

.u-fw-b {
  font-weight: bold !important;
}

.u-td-u {
  text-decoration: underline !important;
}

.u-td-none {
  text-decoration: none !important;
}

.u-td-lh {
  text-decoration: line-through !important;
  opacity: .6;
}