.c-alert {
  color: var(--colorHighlight);
  background: var(--colorHighlightLigten2);
  border: solid 1px var(--colorHighlight);
  padding: var(--baseMargin) calc(var(--baseMargin) * 2);

  &__strong {
    font-weight: 600;
  }
}