.c-text--primary {
  font-weight: 600;
}

.c-text--secondary {
  color: var(--colorDefaultLigten1);
}

.c-text--highlight {
  color: var(--colorHighlight);
}

.c-text--white {
  color: var(--colorWhite);
}