.c-alert {
  color: var(--colorHighlight);
  background: color(var(--colorHighlight) whiteness(80%));
  border: solid 1px color(var(--colorHighlight) whiteness(60%));
  padding: var(--baseMargin) calc(var(--baseMargin) * 2);

  &__strong {
    font-weight: 600;
  }
}