.c-alert {
  color: var(--colorAlert);
  background: color(var(--colorAlert) whiteness(80%));
  border: solid 1px color(var(--colorAlert) whiteness(60%));
  padding: var(--baseMargin) calc(var(--baseMargin) * 2);
  margin: calc(var(--baseMargin) * 2);
}

.c-alert{
  > .__text{
      font-size: 12px;
    }
  > .__text > .__icon{
      font-size: 10px;
    }
}