.c-btn {
  display: inline-block;
  border: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  padding: 0 1.6em;
  line-height: 32px;
  font-size: 14px;
  outline: none;
  position: relative;
  white-space: nowrap;
}

.title,
.content {
  background: #fff;
  font-size: 0.9em;
  margin: 0;
  display: flex;
  touch-action: manipulation;
}
