.c-clamp {
  display: flex;
  overflow: hidden;

  &--size-2 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 3em;
  }
  
  &--size-3 {
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 5em;
  }
}