.c-container {
  margin: 0 calc(var(--baseMargin) * 2) calc(var(--baseMargin) * 5);
  padding: 0;

  &--small {
    margin: 0 calc(var(--baseMargin) * 4) calc(var(--baseMargin) * 5);
  }

  &--full {
    margin: 0 0 calc(var(--baseMargin) * 5);
  }
}