.c-text--primary {
  color: var(--colorPrimary);
}

.c-text--secondary {
  color: var(--colorSecondary);
}

.c-text--info {
  color: var(--colorInfo);
}

.c-text--highlight {
  color: var(--colorHighlight);
}

.c-text--white {
  color: var(--colorWhite);
}